[buildout]
extensions = mr.developer
auto-checkout =
    esoth.family
    esoth.media
    esoth.wow
parts =
    instance1
    instance2
    zopepy
    supervisor
    ${buildout:haproxy-parts}
extends =
    http://dist.plone.org/release/4.3.1/versions.cfg
    https://github.com/esoth/buildouts/blob/master/haproxy.cfg
    users.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

# Add additional eggs here
# elementtree is required by Plone
eggs =
    elementtree
    Plone
    Zope2
    five.grok
    five.intid
    plone.formwidget.contenttree
    plone.directives.dexterity
    collective.uploadify
    collective.z3cform.datagridfield
    Products.DataGridField
    z3c.relationfieldui
    esoth.family
    esoth.media
    esoth.wow
zcml =
    collective.uploadify
    esoth.family
    esoth.media
    esoth.wow

develop =

[hosts]
instance1 = 127.0.0.1
instance2 = 127.0.0.1
supervisor = localhost

[ports]
zeo-server = 8301
instance1 = 8081
instance2 = 8082
supervisor = 9001

[sources]
esoth.family = git https://github.com/esoth/esoth.family
esoth.media = git https://github.com/esoth/esoth.media
esoth.wow = git https://github.com/esoth/esoth.wow

[instance]
recipe = plone.recipe.zope2instance
user = ${users:zope}:${passwords:zope}
debug-mode = off
http-fast-listen = off
zserver-threads = 2
zodb-cache-size = 30000
zeo-client = true
zeo-address = ${zeoserver:zeo-address}
zeo-client-cache-size = 300MB
environment-vars =
    TZ America/New_York
    zope_i18n_compile_mo_files true
eggs = ${buildout:eggs}
zcml = ${buildout:zcml}
products = ${buildout:directory}/products

[zeoserver]
recipe = plone.recipe.zeoserver
#zope2-location = ${zope2:location}
zeo-address = ${ports:zeo-server}

[instance1]
recipe = collective.recipe.zope2cluster
instance-clone = instance
http-address = ${hosts:instance1}:${ports:instance1}

[instance2]
recipe = collective.recipe.zope2cluster
instance-clone = instance
http-address = ${hosts:instance2}:${ports:instance2}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[versions]

[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = ${users:supervisor}
password = ${passwords:supervisor}
serverurl = http://${hosts:supervisor}:${ports:supervisor}
programs =
    10 zeoserver (autostart=true) ${buildout:directory}/bin/zeoserver [console] true ec2-user
    20 instance1 ${buildout:directory}/bin/instance1 [console] true ec2-user
    20 instance2 ${buildout:directory}/bin/instance2 [console] true ec2-user
    30 haproxy ${buildout:directory}/bin/haproxy [-D -f ${buildout:directory}/etc/haproxy.conf] true ec2-user
